# Игнорировать файлы .pyc и папки __pycache__
__pycache__/
*.pyc

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать файлы логов
*.log

# Игнорировать файлы данных (если они есть)
*.csv
*.json

# Игнорировать IDE-специфичные файлы
.vscode/
.idea/
